.wrapper_about {
    display: flex;
    flex-grow: 1;
    flex-direction: row; 
    justify-content:space-around; 
    padding:30px 10%;
    background-color:#424242;
}

.about_text {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 30px;
    letter-spacing: 1.5px;

}

.about_text h1 {
    padding: 10px 0;
    text-align: center;
}

.about_text p {
    padding: 20px;
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));    
}

.about_picture {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    
}

.about_picture .img_01 img{
    width: 60%;
    transform: rotate(10deg);
    border: 3px solid #CFC036;
    margin-right: 250px;
} 

.about_picture .img_02 img{
    width: 60%;
    transform: rotate(-10deg);
    border: 3px solid #CFC036;
} 

.about_picture .img_03 img{
    width: 60%;
    transform: rotate(10deg);
    border: 3px solid #CFC036;
}  


.about_picture .img_04 img{
    width: 60%;
    transform: rotate(-10deg);   
    border: 3px solid #CFC036;
}  

@media (max-width: 812px) {
    .wrapper_about {
        flex-direction: column;
    }

.about_picture {
    flex-direction: row;    
    flex-direction: column; 
}

.about_picture .img_01 {
    display: flex;
    justify-content: center;
} 

.about_picture .img_01 img{
    transform: rotate(0deg); 
    margin-right: 0px;     
} 
.about_picture .img_02 img{
    width: 100%;
    transform: rotate(0deg);   
} 

.about_picture .img_03 img{
    display: none;
} 

.about_picture .img_04 img{
    display: none;
}  
.about_text{
   padding: 0;
} 
    
}