.container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    padding: 30px 10%;
    justify-content: space-around;
    background-color:#424242;
}

.title_form {
    margin-bottom: 25px;
}

.title_form p{
    font-size: 12px;
}

.bodyform {
    display: flex;
    flex-direction: column;
    color: #fff;
    letter-spacing: 1.5px;
    justify-content: center;
  
}

.bodyform .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

form {
    gap: 10px;
    font-size: 16px;
    font-weight: 700;
}

form label {
    font-size: 20px;
}

.form-control {
    width: 100%;
    height: 20%;
    border-radius: 15px;
    padding: 5px;
    font-size: 18px;
}

.controltextarea {
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding: 10px;
    border-radius: 15px;
}

form .btn {
    width: 350px;
    height: 150px;
    border: transparent;
    border-radius: 20px;
    text-align: center;
    background-color: #cfc036;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.picture1 {
    grid-area: header;
}

.picture2 {
    grid-area: main;
}

.picture3 {
    grid-area: sidebar;
}

.picture4 {
    grid-area: footer;
    align-self: end;
}
.pictures {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: auto;
    grid-template-areas: 
      ". header . ."
      "main . sidebar footer";
}

@media (max-width: 1024px) {
    .pictures {
        display: none;
    }
}



