.wrapper_experience {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    padding: 30px 10%;
    justify-content: space-around;
    background-color:#424242;
}

.video { 
    width: 55%; 
    min-width: 17.5em; 
    margin:0 auto;
}

.boxVideo {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0;
    margin:0 auto;
}

.boxVideo iframe {
    border-radius: 15px;
    border: 4px solid #CFC036;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fedback {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
   justify-content: space-around;
}
.fedback .client  {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 0 0;
}

.fedback .client  p {
    display: flex;
    flex-direction: column;
}
.client_fed {
    padding: 8px;
    padding-bottom: 5px;
    color: #fff;
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    letter-spacing: 1.5px;
    width: 95%;
}

.client_fed p:first-child {
    font-weight: 700;
    color: #CFC036;
}

.picture_client{
    width: 200px;
}

.client img{
    width: 100%;
    border: 3px solid #CFC036;
    border-radius: 50%;
    background-color: #CFC036;
}

@media all and (max-width: 812px) {
    .wrapper_experience {
     
        flex-direction: column;
    }  

.picture_client{
    width: 100px;
}

}