.wrapper {
    display: flex;
    flex-grow: 1; 
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content:space-around; 
    padding:30px 10%;
    background-color:#424242;
}


.home_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 30px;
    letter-spacing: 1.5px;
}
.home_text p {
   padding: 15px;
   font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));    
   color: #fff;

}

.home_text p:nth-child(2){
     color: #CFC036;
    font-weight: 700;
    font-size: calc(12px + (28 - 12) * ((100vw - 300px) / (1600 - 300)));    

}

.home_text p:nth-child(3){
    font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));    
}


.home_text ul li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 30px;    
}

.home_text a i{
    cursor: pointer;
    color:#ffffff;
}

.home_text a i:hover {
    color: #CFC036;
}


.home_img {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.img_Kalike {
    width: 90%;
    height: 92%;
    background-color: #CFC036;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

.img_Kalike img {
    width: 100%;
    height: 100%;
} 

@media all and ( max-width: 1100px){
    .wrapper {
       
        flex-direction: column; 
       
    }

    .img_Kalike {
        width: 50%;
    }
}

@media all and (max-width: 480px)  {
    .home_text {
        padding: 15px;
        text-align: center;
    }
    .home_text ul{
       
       text-align: center;   
    }
    .home_text ul li {
       
        font-size: 15px; 
        padding: 0px 10px;   
    }
}


