.wrapper {
    display: flex;
    flex-grow: 1; 
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content:space-around; 
    padding:30px 10%;
    background-color:#424242;
}


.home_text {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    flex: 1;
    padding: 30px;
    letter-spacing: 1.5px;
}
.home_text p {
   padding: 15px;
   font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));    
   color: #fff;

}

.home_text p:nth-child(1){
    font-weight: 700;
    font-size: calc(12px + (28 - 12) * ((100vw - 300px) / (1600 - 300)));    

}

.home_text p:nth-child(3){
    font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));    
}


.home_text ul li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 30px;    
}

.home_text a i{
    cursor: pointer;
    color:#ffffff;
}

.home_text a i:hover {
    color: #CFC036;
}


.home_img {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.img_Kalike {
    width: 90%;
    height: 92%;
    background-color: #CFC036;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

.img_Kalike img {
    width: 100%;
    height: 100%;
} 

@media screen and (min-width: 480px) {
    
}

/* .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color:#424242;
    flex-wrap: wrap;
    padding:30px 10%;
    height: 100vh;
}

.home_text {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px;
    letter-spacing: 1.5px;
}
.home_text p {
   padding: 15px;
    font-size: 45px;
    color: #fff;

}

.home_text p:nth-child(1){
    font-size: 50px;
}

.home_text p:nth-child(3){
    font-size: 40px;
}

.footer_components ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home_text ul li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 30px;    
}

.home_text a i{
    cursor: pointer;
    color:#ffffff;
}

.home_text a i:hover {
    color: #CFC036;
}

.home_img {
    display: flex;
    justify-content: flex-end;
}

.img_Kalike {
    width: 100%;
    height: 100%;
    background-color: #CFC036;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

.img_Kalike img {
    width: 100%;
    height: 100%;
} */
