* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

.App {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color:#424242;
    height: 100vh;
}